/* Contenedor principal */
.contenedor1 {
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px; /* Alinea el contenedor en el centro con márgenes superiores e inferiores */
}
input[type=text], input[type=email], input[type=tel], input[type=file] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #0060A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
.header {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Hace que el header esté por encima de otros elementos */
}
.nav-buttons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}
.nav-buttons a:hover {
    background-color: #0060A9;
}
.contenedor {
    background-color: #ffd900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px; /* Alinea el contenedor en el centro con márgenes superiores e inferiores */
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
  /* Estilo general del cuerpo */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Hace que el header esté por encima de otros elementos */
}

.header h1 {
    margin: 0;
    padding-left: 20px;
}

.nav-buttons {
    padding-right: 20px;
}

.nav-buttons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #0060A9;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Hace que el header esté por encima de otros elementos */
}

.header h1 {
    margin: 0;
    padding-left: 20px;
}

.nav-buttons {
    padding-right: 20px;
}

.nav-buttons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #0060A9;
}

/* Contenedor principal */
.contenedor {
    background-color: #ffd900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px; /* Alinea el contenedor en el centro con márgenes superiores e inferiores */
}

.titulo {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.texto {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0060A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.contenedor button:hover {
    background-color: #004c8c;
}
input[type=text] {
    width: 30%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: line;
  }