
body {
         margin: 0;
         font-family: Arial, sans-serif;
         background: linear-gradient(to bottom, #1e5799 0%,#207cca 50%,#2989d8 51%,#207cca 100%);
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .login-container {
         background-color: white;
         border-radius: 20px;
         padding: 40px;
         width: 300px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         
     }
     .login-container img {
         width: auto;
         margin-bottom: 20px;
     }

     .icon{
        height: 16px;
        display:flex;
        width: 16px;
        right: 100%;
        top: 55%; 
        cursor: pointer;
    }
     
     .login-container h1 {
         font-size: 24px;
         margin-bottom: 20px;
     }
     .input-group {
        display: flex;
        align-items: center;
        width:auto;
        max-width: 300px;
         margin-bottom: 20px;
         position: relative;
         
     }
     .input-group input {
         width:auto;
         padding: 10px;
         padding-left: 40px;
         border: 1px solid #ccc;
         border-radius: 5px;
         
     }
     .input-group i {
         position: absolute;
         top: 50%;
         left: 10px;
         transform: translateY(-50%);
         color: #888;
     }
     .input-group .fa-eye {
         right: 10px;
         left: auto;
         cursor: pointer;
     }
     .forgot-password {
         display: block;
         margin-bottom: 20px;
         color: #007bff;
         text-decoration: none;
     }
     .login-button {
         background-color: #007bff;
         color: white;
         border: none;
         padding: 10px 20px;
         border-radius: 5px;
         cursor: pointer;
         width: 100%;
     }
     .back-arrow {
         position: absolute;
         top: 20px;
         left: 20px;
         color: black;
         font-size: 24px;
         cursor: pointer;
         margin-top: -3px;
     }