@font-face {
    font-family: 'UniSansSemibold';
    src: url('FontsFree-Net-uni-sans-semibold.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'UniSansSemibold';
    background: linear-gradient(to bottom, #0a4d8a, #000);
    min-height: 100vh;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    width: auto;
}
.header img {
    height: 50px;
}
.header .logout {
    color: #000;
    font-size: 18px;
}
.container {
    padding: 20px;
}
.title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.table-container {
    width: 100%; /* Limita el ancho al 100% del contenedor padre */
    overflow-x: auto; /* Activa el scroll horizontal si el contenido excede el ancho */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
    border: 1px solid #ccc; /* Opcional: para visualizar el límite del contenedor */
  }
table{
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #fff;
}
th {
    background: transparent;
}
.actions {
    display: flex;
    align-items: center;
}
.actions button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
.actions input[type="checkbox"] {
    transform: scale(1.5);
}