body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0a4d8a, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'UniSansSemibold';
    src: url('Estilos/fonts/FontsFree-Net-uni-sans-semibold.ttf') format('truetype');
}

/* Aplica la fuente a todos los encabezados h1-h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'UniSansSemibold', sans-serif;
}

/* Aplica la fuente a todos los párrafos p */
p {
    font-family: 'UniSansSemibold', sans-serif;
}

/* Aplica la fuente a todas las listas ul, ol y sus elementos li */
ul, ol, li {
    font-family: 'UniSansSemibold', sans-serif;
}
.container {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container img {
    width: 200px;
}
.container h2 {
    font-size: 18px;
    margin: 20px 0;
}
.container input[type="int"],
.container input[type="text"],
.container input[type="tel"],
.container input[type="password"],
.container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.container input[type=""] {
    margin: 10px 0;
}
.container button {
    background: #0a4d8a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.container button:hover {
    background: #083b6a;
}
.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}