/* Reset de márgenes y padding, y configuración global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    overflow-y: auto; 
  }
  
  /* Estilo principal de la página */
  .main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/Estilos/images/menu.jpg") no-repeat center center;
    background-size: cover;
  }
  
  .main,
  .footer {
    background-color: #fff;
  }
  
  /* Logo */
  .logo {
    width: 100px;
    cursor: pointer;
    border-radius: 17%;
  }
  
  /* Flechas de navegación */
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .arrow-left {
    left: 20px;
  }
  
  .arrow-right {
    right: 20px;
  }
  
  /* Estilo general */
  main {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #1a4e8a;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Contenido de texto */
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .section {
    margin-bottom: 40px;
    text-align: center;
    width: 50%;
  }
  
  .section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  /* Valores (sección con íconos) */
  .values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .values .section {
    flex: 1;
    max-width: 600px;
  }
  
  .values img {
    width: 100px;
    height: 100px;
  }
  
  .valores {
    margin-top: 40px;
  }
  
  .section .valuesP {
    text-align: center;
  }
  
  .content .section {
    text-align: center;
  }
  
  /* Timeline */
  .timeline-container {
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    display: flex;
    clear: both;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 36px;
    color: #f0c000;
    margin-bottom: 20px;
  }
  .timeline {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    background-color: white;
    position: relative;
  }
  .timeline-item {
    width: 200px;
    border: 2px solid #f0c000;
    margin: 10px;
    padding: 10px;
  
  }
  .timeline-item img {
    width: 100%;
    height: auto;
  }
  .year {
    font-size: 24px;
    color: #1a4e8a;
    margin: 10px 0;
  }
  .description {
    font-size: 16px;
    color: #000;
  }
  .timeline-container::-webkit-scrollbar {
    display: none;
  }
  .prev-btn,
  .next-btn {
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    z-index: 8; 
    color: white;
  }
  
  .prev-btn {
    left: 10px;
    transform: rotate(180deg);
  }
  
  .next-btn {
    right: 10px;
  }
  
  .prev-btn img,
  .next-btn img {
    opacity: 0.2;
  }
  
  .prev-btn:hover img,
  .next-btn:hover img {
    opacity: 1;
  }


  /*-------------------------------------------------------------------------------------------
  ------------------------------------------------- Marcas -------------------------------------
  -----------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------*/
  .brands-background {
    background: linear-gradient(to top, #87cbeb, #fff);
    width: 100vw;
    height: 100%;
  }
  
  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-container {
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 450px;
    height: 450px;
    margin-right: 20px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
    z-index: 8;
    color: white;
  }
  
  .pre-btn {
    left: 30px;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 30px;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .logo {
    width: 300px;
    cursor: pointer;
  }
  
  /* Navbar */
  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(/Estilos/images/menu.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #f0c000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
  /* Estilos del botón hamburguesa */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 70px;
    z-index: 10;
  }
  
  .hamburger div {
    background-color: #fff;
    height: 3px;
    width: 100%;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 120px;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      padding-top: 20px;
      z-index: 8;
    }
  
    .navbar.active ul {
      display: flex;
      margin-top: 20px;
    }
  
    .navbar ul li {
      margin-bottom: 15px;
    }
  
    .navbar ul li a {
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }
  
    .navbar.active .hamburger {
      z-index: 9;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  /* Mapa */
  .map-container {
    text-align: center;
    background: linear-gradient(to top, #fff, #87cbeb);
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  h1 {
    color: #ffcc00;
    font-size: 48px;
    margin-bottom: 20px;
  }
  .map {
    position: relative;
    display: inline-block;
  }
  .map img {
    width: 100%;
    max-width: 800px;
  }
  .marker {
    position:absolute;
    width: 32px;
    height: 32px;
    background-image: url("/Estilos/images/localizador.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -100%); /* Centra el marcador */
  }
  .tooltip-text {
    visibility: hidden;
    width: 120px; /* Ajusta el ancho según tu necesidad */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%; /* Posiciona el tooltip encima del marcador */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Mostrar el tooltip cuando se pasa el cursor sobre el marcador */
.marker:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
  
  /* Estilo de la sección de contacto con logo y detalles */
  footer {
    background-color: #f5f5f5;
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }
  
  footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;
    max-width: 1200px;
    width: 100%;
  }
  
  footer .divider {
    border-left: 2px solid #1a73e8;
    height: 280px;
    margin: 0 20px;
  }
  
  footer .logo img {
    width: 100px;
    height: 100px;
  }
  
  footer .content {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  footer .content h1 {
    color: #1a73e8;
    font-size: 32px;
    margin: 0 0 10px 0;
  }
  
  footer .content p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  footer .content p span {
    font-weight: bold;
    color: #1a73e8;
  }
  
  footer .content p span.address {
    font-weight: normal;
    color: #000;
  }
  
  footer .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 15px;
  }
  
  footer .social-icons a {
    display: inline-block;
  }
  
  footer .social-icons img {
    width: 30px;
    height: auto;
  }
  
  .footer .container {
    border: none;
  }
  
  /* Cambios responsivos */
  @media (max-width: 768px) {
    .values {
      flex-direction: column; /* Cambia a columnas en pantallas más pequeñas */
      gap: 20px;
    }
  }
  