@font-face {
    font-family: Arial, sans-serif;
    src: url(/Estilos/FontsFree-Net-uni-sans-semibold.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0a4d8a, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.logo {
    width: 200px;
    margin-bottom: 20px;
}
.message {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
