/*  Diseño de la ventana terminos y condiciones*/
.modal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed; /* Mantiene el modal en el mismo lugar */
    z-index: 1000; /* Se asegura de que el modal esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Agrega desplazamiento si es necesario */
    background-color: rgb(0, 0, 0); /* Color de fondo negro */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

/* Botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el botón de aceptar */
button {
    margin-top: 20px;
}