#modal {
    display: none; 
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px; 
    border: 1px solid #ccc; 
    z-index: 1000; 
    width: 600px; 
    max-height: 400px; /* Limitar la altura */
    overflow-y: auto;  /* Permitir scroll si el contenido es demasiado largo */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}  @font-face {
    font-family: 'UniSansSemibold';
    src: url('Estilos/fonts/FontsFree-Net-uni-sans-semibold.ttf') format('truetype');
}

/* Aplica la fuente a todos los encabezados h1-h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'UniSansSemibold', sans-serif;
}

/* Aplica la fuente a todos los párrafos p */
p {
    font-family: 'UniSansSemibold', sans-serif;
}

/* Aplica la fuente a todas las listas ul, ol y sus elementos li */
ul, ol, li {
    font-family: 'UniSansSemibold', sans-serif;
}
#modal h2, #modal p {
    margin: 10px 0; /* Añadir márgenes al texto */
}

#modal button {
    margin-top: 20px; /* Separar el botón del contenido */
}

#fondo {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    z-index: 999;
}
