/* Contenedor donde van a ingresar el usuario y la contraseña */
.contenedor1 {
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px; /* Alinea el contenedor en el centro con márgenes superiores e inferiores */
}

/* Estilo a las cajas de de texto como lo son el text, email, telefono y file */
input[type=text], input[type=email], input[type=tel], input[type=file], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* diseño a los botones agregados a en las diferentes paginas */
.button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #0060A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

/* estilo del encabezado donde esta el menu y el usuario pueda navegar */
.header {
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Hace que el header esté por encima de otros elementos */
}
/* estilo de los botones del navegador header dinamico */
.nav-buttons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}
/* animacion que hace cambiar de color cuando el puntero se pocisiona en el boton */
.nav-buttons a:hover {
    background-color: #0060A9;
}
/* Contenedor numero2 el cual le da estilo a la pagina vacantes y a la pagina RH */
.contenedor {
    background-color: #ffd900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px; /* Alinea el contenedor en el centro con márgenes superiores e inferiores */
}
/* estilo que le da a las tablas que se vallan y estan agregadas */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
/* estilo a la columnas y filas de la tabla */
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
  /* Estilo general del cuerpo */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* estilo general a los titulos */
.header h1 {
    margin: 0;
    padding-left: 20px;
}

/* puntero para mostrar su contraseña */
.toggle-password {
    cursor: pointer;
}
